:root {
  --black: #111210;
  --input-bg: #212220;
  --input-hover: #282a27;
  --input-pressed: #2f312e;
  --text: #eceeec;
  --text-muted: #afb5ad;
  --accent: #bdee63;
  --accent-hover: #d4ff70;
  --accent-pressed: #bde56c;
  --pink: magenta;
}

* {
  border: none;
  padding: 0px;
  margin: 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--black);
  color: var(--text);
  font-size: 100%;
  font-family:
    Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
    sans-serif;
  font-weight: normal;

  accent-color: var(--accent);
}

button {
  transition:
    color 150ms cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.page-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  border-radius: 4px;
}

form {
  max-width: min(60ch, 90vw);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

input {
  outline: none;
}

input:focus-visible {
  outline: 2px solid var(--accent);
}

.password-display {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

#password {
  max-width: 90%;
  margin-block: 1.5rem;
  background-color: var(--input-bg);
  color: var(--text);
  padding: 0.625rem 1.25rem;
  padding-right: 2rem;
  min-height: 2.5rem;
  flex-grow: 1;
  font-size: 1.25rem;
  overflow-x: hidden;
  mask-image: linear-gradient(to right, var(--input-bg) 90%);
}

#copy-btn {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 2px;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.625rem;
  cursor: pointer;
  background-color: var(--input-bg);
  color: var(--accent);

  &:hover {
    background-color: var(--input-hover);
    color: var(--accent-hover);
  }

  &:active {
    background-color: var(--input-pressed);
    color: var(--accent-pressed);
  }
}

#copy-btn svg {
  width: 1.5em;
  height: 1.5em;
}

.controls-wrap {
  padding: 1rem;
  background-color: var(--input-bg);
}

.length-control label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

#length {
  width: 100%;
  margin-block: 1rem;
}

#length-value {
  color: var(--accent);
}

.options-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.75rem;
  margin-top: 1rem;
}

.options-group label {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}

#generate-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  min-height: 3rem;
  width: 100%;
  background-color: var(--accent);
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
  }

  &:active {
    background-color: var(--accent-pressed);
  }
}

.text-muted {
  color: var(--text-muted);
}

.text-center {
  text-align: center;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
